<% content_for :sidebar do %>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header"><b><%= t('.header') %></b></li>
      <% Article.recent.each do |article| %>
        <li><%= link_to article.title, article %></li>
      <% end %>
    </ul>
  </div><!--/.well -->
<% end %>
