body { padding-top: 70px; }

.footer {
  background-color: #2b2e37;
  color: #fff;
  margin-top: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer a {
  color: #afd4ff;
}

ul {
  list-style-type: none;
}

.label-as-badge {
  border-radius: 1em;
}
